/*bagian home*/
.home{
	background-image: url('/assets/imgs/bg.png');
	background-repeat: no-repeat;
	background-position: top center;
}
.btn-home{
	height: 40px !important;
	width: 99%;
}

.list-home{
	margin-top: 120px;
}
.list-home > ion-item{
	background-color: transparent;
}
/*bagian home*/


/*bagian menu*/
.btn-menu{
	width: 99%;
	height: 80px !important;
	border-radius: 10px;
}
/*bagian menu*/


/*materi*/
.title-text{
	text-align: center !important;
	margin-bottom: 30px;
}
.content{
	text-align: left;
}
/*materi*/